<!-- createUser.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <style>
        body {
            background-color: #424242
        }   
        </style>
</head>
<body>
    <h1><%= pageTitle %></h1>
    <form method="POST">
        <input type="hidden" name="id" value="<%= user.id %>">
        <label for="username">Novo Nome de Usuário:</label>
        <input type="text" name="username" value="<%= user.username %>">
        <label for="email">Novo Email:</label>
        <input type="email" name="email" value="<%= user.email %>">
        <label for="bio">Nova Bio</label>
        <input type="bio" name="bio">
        <input type="submit" value="Atualizar informações">
    </form>
    
    <a href="/users/getUsers">Voltar para a página inicial</a>
</body>
</html>