<!-- verUsuarios.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <!-- <% if (msg) { %>
        <p><%= msg %></p>
    <% } 
    %> else { %>
        <%= msg = undefined %><
    <% } %> -->
    <h1><%= pageTitle %></h1>
        <% users.forEach(function(user) { %>
            <p>User: <%= user.userName %></p>
            <p>Email: <%= user.email %></p>
        <% }); %>
</body>
</html>