<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <style>
    body {
        background-color: #424242
    }   
    </style>
</head>
<body>
    <div class="user-data">
        <h1><%= user.userName %></h1>
        <ul>
            <li><%= user.email %></li>
            <li><%= user.password %></li>
        </ul>
        <form method="get" action="/users/updateUser/<%= user.id %>">
            <input type="submit" value="Atualizar informações">
        </form>
    </div>
</body>
</html>